* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
}

ul {
    list-style: none;
}

img {
    width: 150px;
    height: 150px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px;
    max-width: 120px;
}

.header {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.Logo {
    font-size: 24px;
    font-weight: 900;
}

.right-links {
    display: flex;
    justify-content: flex-end;  
    gap: 16px;
}

.Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 125px;
    gap: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#header-image, 
.container {
    width: 550px;
    height: 220px;
    max-width: 540px;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtext, 
.subcall,
.footer-text {
    font-size: 18px;
    color: #E5E7E5;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 30px;
}

.pieces {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    padding: 80px;
}

.block {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 200px;
    gap: 5px;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 700px;
}

.author {
    font-size: 20px;
    font-weight: bold;
    align-self: center; 
    margin-left: 450px;
}

.call {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;  
    background-color: #3882F6;
    padding: 50px;
    padding-inline: 75px;
    border-radius: 8px;
    border: none;
    gap: 128px;
}

.container3 {
    display: flex;
    flex-direction: column;
}

.calltoaction {
    font-size: 18px;
    font-weight: bold;
    color: #E5E7E5;
}

.calle {
    padding: 10px;
    padding-inline: 30px;
    border: 2px solid #E5E7E5;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 50px;
}

